{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

  <div class="container containerStripe">
      <div class="card">
          <div class="card-body">
              {% for message in app.flashes('success') %}
                  <div style="color: green; border: 2px green solid; text-align: center;  padding: 5px; margin-bottom: 10px; border-radius: 1em 1em 0 0;">
                      {{ message }}
                  </div>
              {% endfor %}
              <p class="titlePayment">Entrez vos Information ci-dessous</p>
              <form id='checkout-form' method='post' action="{{ path('app_help_index') }}">             
                  <input type='hidden' name='stripeToken' id='stripe-token-id'>
                  <label for="card-element" class="mb-5"></label>
                  <br>
                  <div id="card-element" class="form-control" ></div>
                    <div class="blockAmount">
                      <p class="titleAmount">Choissisez le Montant</p>
                      <input type="number" name="stripeAmount" id="stripe-amount">
                      <br>
                      <button id='pay-btn' class="btn-payment" type="button" onclick="createToken()">VALIDER</button>
                    </div>
              <form>
          </div>
      </div>
    </div>


{% endblock %}

  {# <div class="containerHelp">
    <p class="titleHelp">N'hésites pas à donner</p>
      <p class="contentHelp">Vous avez la possibilité de faire une donation pour apporter votre aide au bien-être des animaux</p>
        <p class="titleListeHelp">Votre don servira pour :</p>
          <ul class="listeHelp">
            <li>Le bien etre animal (nourriture, jouet, couchette... )</li>
            <li>Payer le personnel (agent d'acceuil, agent d'entretien...)</li>
            <li>Payer les frais de veterinaire</li>
          </ul>
        <form class='formHelpButton'action="https://buy.stripe.com/test_5kAcOv7tbb1ZdQQbII">
          <button class="buttonHelp" type="submit">Faire un don</button>
        </form>

            <!-- Display a payment form -->
            <form method="post" id="payment-form">
                <div id="payment-element">
                  <!--Stripe.js injects the Payment Element-->
                </div>
                  <button id="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay now</span>
                  </button>
                <div id="payment-message" class="hidden"></div>
            </form>
        
            <iframe id='kofiframe' src='https://ko-fi.com/dogsadopt/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='dogsadopt'></iframe>        {% if not app.user %}
          veuillez vous enregister pour faire une donation 
          <a href="/register">Adhesion</a>
        {% endif %}
  </div> #}