/***********************************CardDog*******************************************/

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.colDog {
    display: flex;
}

.bodyCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.container {
    flex-direction: row;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
    margin-left: 40px;
    margin-right: 40px;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 5px 3px 3px rgb(143, 143, 143);    
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.card_body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.card_body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 2px;
    padding-left: 15px;
}

.card_body p {
    margin: 2px;
    padding-left: 15px;
}

.card_footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.card_image{
    height: 25rem;
}

.button-adopt {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


/***********************************HELP*******************************************/


.containerHelp {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.titleHelp {
    text-align: center;
    font-size: 50px;
    margin-bottom: 3rem;

}

.contentHelp {
    text-align: center;
    font-size: 25px;
    margin-bottom: 3rem;

}

.titleListeHelp {
    width: 80%;
    text-align: center;
}

.listeHelp {
    padding-left: 35rem;
    margin-bottom: 3rem;
}
.formHelpButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonHelp {
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 40px;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}
.buttonHelp:hover{
    transition-duration: 300ms;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}



/***********************************MEMBER*******************************************/


.registrationForm {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.titre_member {
    text-align: center;
    margin-top: 3%;
}

.registrationEmail {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.registrationPassword {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.registrationAgreeTerms {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.btn-adherer {
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 40px;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}
.btn-adherer:hover{
    transition-duration: 300ms;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}

.btn-registration {
    display: flex;
    justify-content: center;
}

.form-control-email {
    border: 1px solid black;
}


/***********************************FORM-CONTACT*******************************************/


.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 3%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn-contact {
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 40px;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}
.btn-contact:hover{
    transition-duration: 300ms;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}

.formEmail {
    font-size: 20px;
    margin: 20px;
}

textarea {
    resize: none;
 }

.formName {
    font-size: 20px;
    margin: 20px;
}

.formMesssage {
    font-size: 20px;
    margin: 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

#contact_message {
    min-width: 25rem;
    max-width: 25rem;
    min-height: 7rem;
    max-height: 7rem;
}

#contact_email {
    width: 400px;
}

#contact_name {
    width: 400px;
}


/***********************************CARD-ACTUALITY*******************************************/


.bodyCardAcuatlity {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.containerAcuatlity {
    flex-direction: row;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
    margin-left: 40px;
    margin-right: 40px;
}

.card__imageAcuatlity {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.cardAcuatlity {
    display: flex;
    flex-direction: column;
    width: clamp(40rem, calc(40rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.card__bodyAcuatlity {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card__bodyAcuatlity h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footerAcuatlity {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

@media screen and (max-width: 700px) {
    .cardAcuatlity {
        width: clamp(15rem, calc(40rem + 2vw), 22rem);
    }
}


/***********************************LOGINFORM*******************************************/


.loginContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 1em;
    box-shadow: 5px 3px 3px rgb(0, 0, 0);    
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 8%;
}
.loginContainer label{
    margin-top: 1.5rem;
}

.form-control-email {
    width: 150px;
}

.form-control-password {
    width: 150px;
}

.btn-login {
    margin: 2rem;
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}
.btn-login:hover{
    transition-duration: 300ms;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}



/***********************************ABUSE*******************************************/


.container-abuse {
    margin: 0;
}

.title-maltraitance {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.question-maltraitance {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.text-maltraitance {
    text-align: start;
    margin-left: 20%;
    margin-right: 20%;
}

.carret-maltraitance {
    margin: 10px;
    word-wrap: break-word;
    gap: 0.2rem;
}


.dogAdoptedTitle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.contentAdopted{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/***********************************MENU-CATEGORY*******************************************/

.category{
    margin-left:5rem ;
    margin-right:5rem ;


}
.listCategory{
    display: flex;
    flex-direction:row; 
    justify-content:center;
    align-items: center;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 5px 3px 3px rgb(0, 0, 0);    
    padding: 0;
    
}

.dogBreed{
    list-style-type: none;
    margin: 1rem;
    padding: 3px;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 2px 1px 1px rgb(0, 0, 0);    
}

@media screen and (max-width: 700px) {
    .category{
        margin-left:5rem ;
        margin-right:5rem ;
    }

    .listCategory{
        display: flex;
        flex-direction:column; 
        border: solid 2px black;
        border-radius: 5px;
        box-shadow: 5px 3px 3px rgb(0, 0, 0);    
        padding: 0;
    }
    
    .dogBreed{
        list-style-type: none;
        margin: 1rem;
        padding: 3px;
        border: solid 1px black;
        border-radius: 5px;
        box-shadow: 2px 1px 1px rgb(0, 0, 0);    
    }
    
}

@media screen and (max-width: 1100px) {
    .category{
        margin-left:9rem ;
        margin-right:15rem ;

    }

    .listCategory{
        display: flex;
        flex-direction:column; 
        border: solid 2px black;
        border-radius: 5px;
        box-shadow: 5px 3px 3px rgb(0, 0, 0);    
        padding: 0;
        min-width: 12rem;
    }
    
    .dogBreed{
        list-style-type: none;
        margin: 1rem;
        text-align: center;
        min-width: 10rem;
        border: solid 1px black;
        border-radius: 5px;
        box-shadow: 2px 1px 1px rgb(0, 0, 0);    

    }
    
}


/***********************************STRIPE-ELEMENT*******************************************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.containerStripe{
    display:flex;
    align-items:center
}
#checkout-form{
    position: relative;
    width: 100%;
    height: 100%;
}
.titlePayment{
    text-align: center;
    margin: 0;
    font-weight:lighter;
}
.titleAmount{
    margin: 0;
    font-weight: lighter;
}
.blockAmount{
    text-align: center;
    margin-top: 1rem;
}
.btn-payment {
    margin-top: 0;
    margin: 1rem;
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}
.btn-payment:hover{
    transition-duration: 300ms;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
}