body{
    margin: 0;
}
/*//////////////////////HEADER///////////////////*/
.header{
    background-color: black;
}

.titleHeader{
    color:beige;
}
.titleHeader h1 {
    font-size: 300%;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

nav{
    text-align: center;
    margin: 0px 60px 10px auto;
}
nav a{
    text-decoration: none;
    color:black;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 10%;
}
/*//////////////////////FOOTER///////////////////*/
footer div{
    background-color:black;
    text-align: center;
}
footer div h1{
    color: white;
    
}
footer div p{
    color:white;
}
