{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="header">
        <div class="males">
            <h1 class="text-males">MALES</h1>
        </div>
        <div class="femlles">
            <h1 class="text-femelles">FEMELLES</h1>
        </div>
    </div>
    
{% endblock %}
