{% extends 'base.html.twig' %}

{% block title %}Hello AideController!{% endblock %}

{% block body %}
    <h1>Dog-adopt A BESOIN DE VOUS !</h1>
    <p>D’OÙ VIENNENT NOS FONDS ?
La fourrière de la région roannaise reçoit une participation financière à hauteur de 0,40€ par habitant et par an;
des communes de l'arrondissement de Roanne signataires d'une convention fourrière.
En ce qui concerne le refuge, en dehors de l'aide de 30 Millions d'Amis (que nous remercions grandement!),
la SPA du Roannais ne reçoit aucune autre aide. Nous vivons seulement grâce aux dons et adoptions, c'est pourquoi nous organisons 
des ventes d'articles lors de diverses manifestations organisées tout au long de l'année ou encore des opérations caddies dans les supermarchés de la région.
Les factures vétérinaires sont de plus en plus importantes et chaque animal arrivant au refuge est systématiquement vermifugé,
vacciné, identifié et parfois soigné si son état le nécessite. Tout cela a un coût, que les frais d'adoption ne remboursent pas.</p>

{% endblock %}
