{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="container-abuse">
		<div class="text-maltraitance">
			<div id="comp-kvdw72se" >
				<p style="font-size:50px; line-height:1.3em; text-align:center;">
					<span style="font-size:50px;">
						<span style="font-weight:bold;">
							<span>
								<span style="letter-spacing:0.01em;">
									<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">La maltraitance</span>
								</span>
							</span>
						</span>
					</span>
				</p>
			</div>
			<div id="comp-kvdw6wdt">
				<p style="font-size:24px; line-height:1.3em; text-align:center;">
					<span style="font-size:24px;">
						<span style="font-weight:bold;">
							<span style="font-style:italic;">
								<span>
									<span style="letter-spacing:0.01em;">
										<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">Il faut bien faire la différence entre les nuisances qui sont des gênes, contrairement à la maltraitance ou la vie d’animaux sont en danger.</span>
									</span>
								</span>
							</span>
						</span>
					</span>
				</p>
			</div>
			<div id="comp-kvdw71h5">
				<p style="font-size:30px;">
					<span style="font-size:30px;">
						<span style="text-decoration:underline;">
							<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
								<span style="font-weight:bold;">Les nuisances :</span>
							</span>
						</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">&nbsp;</span>
					</span>
				</p>
				<p style="font-size:24px;">
					<span style="font-size:24px;">
						<span style="font-weight:bold;">
							<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">&gt; Sonore : Vous êtes dérangé par un chien qui aboie, que faire ?</span>
						</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">&nbsp;</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">Avant toute chose, prenez contact avec le propriétaire afin d’entamer une discussion et trouver une solution à l’amiable. Si les nuisances se produisent en son absence, il est possible que celui-ci n’en ait pas conscience !</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">- Discutez des aménagements à mettre en place (isolation phonique, colliers anti-aboiements à spray…). Attention certains équipements tels que les colliers électriques sont vivement déconseillée : ceux-ci sont douloureux pour l’animal et ne fonctionnent pas avec tous les chiens (certains chiens, surpris ou effrayés par la douleur de la décharge aboieront davantage… En outre, ces colliers ne permettront pas de comprendre pourquoi le chien aboie (anxiété, phobies…) et ne permettra pas d’en traiter la cause.</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">- Parlez-lui de faire appel à un éducateur canin qui pourra certainement l’aider à trouver la cause des aboiements et à diminuer leur fréquence</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">&nbsp;</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">&gt;
							<span style="text-decoration:underline;">Si les nuisances se poursuivent</span>, c'est auprès de la mairie de votre commune qu'il faut se tourner ou vous pouvez faire intervenir la police. Si les discussions amiable, interventions de la police et du maire n’ont rien donné vous pouvez déposer plainte, il vous faudra fournir attestations de voisinage, pétitions, PV de police…</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">&nbsp;</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">&nbsp;</span>
					</span>
				</p>
				<p style="font-size:22px;">
					<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
						<span style="font-size:22px;">
							<span>​</span>
						</span>
					</span>
				</p>
			</div>
			<div id="comp-kvdw6zv4">
				<p style="font-size:30px;">
					<span style="font-weight:bold;">
						<span style="text-decoration:underline;">
							<span style="font-size:30px;">
								<span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;">Maltraitance :</span>
							</span>
						</span>
					</span>
				</p>
				<p style="font-size:22px;">&nbsp;</p>
				<p style="font-size:22px;">
					<span style="text-decoration:underline;">
						<span style="font-weight:bold;">
							<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
								<span style="font-size:22px;">A savoir, les actes suivants sont interdits :</span>
							</span>
						</span>
					</span>
				</p>
				<ul style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif; font-size:22px; font-weight:bold;">
					<li>
						<p style="font-size:22px;">
							<span style="font-weight:bold;">
								<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
									<span style="font-size:22px;">Priver un animal de nourriture et d'eau</span>
								</span>
							</span>
						</p>
					</li>
					<li>
						<p style="font-size:22px;">
							<span style="font-weight:bold;">
								<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
									<span style="font-size:22px;">Laisser un animal sans soins en cas de maladie ou de blessure</span>
								</span>
							</span>
						</p>
					</li>
					<li>
						<p style="font-size:22px;">
							<span style="font-weight:bold;">
								<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
									<span style="font-size:22px;">Placer et maintenir un animal dans un habitat ou un environnement pouvant être une cause de souffrances, de blessures ou d'accidents. Cela vaut notamment lorsque l'habitat est trop petit, n'offre pas des conditions climatiques supportables par l'animal ou comporte des matériels, installations ou agencements inadaptés à l'animal</span>
								</span>
							</span>
						</p>
					</li>
					<li>
						<p style="font-size:22px;">
							<span style="font-weight:bold;">
								<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
									<span style="font-size:22px;">Utiliser, sauf en cas de nécessité absolue, des dispositifs d'attache (minimum de 3 mètres), de contention, de clôture, des cages ou tout mode de détention inadaptés à l’animal ou de nature à provoquer des blessures ou des souffrances</span>
								</span>
							</span>
						</p>
					</li>
					<li>
						<p style="font-size:22px;">
							<span style="font-weight:bold;">
								<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
									<span style="font-size:22px;">Mettre en œuvre des techniques d'élevage susceptibles d'occasionner des souffrances inutiles aux animaux compte tenu de la sensibilité de l'espèce concernée et du stade physiologique des animaux</span>
								</span>
							</span>
						</p>
					</li>
				</ul>
				<p style="font-size:22px;">&nbsp;</p>
				<p style="font-size:22px;">&nbsp;</p>
			</div>
		</div>
	{% endblock %}

